%ul.catalogs
  %li= link_to 'Электрокомфорт и системы электрического обогрева'
  %li= link_to 'Кабельно-проводниковая продукция'
  %li= link_to 'Электроустановочные изделия'
  %li= link_to 'Низковольтное оборудование'
  %li= link_to 'Электрощитовая сборка'
  %li= link_to 'Кабеленесущие системы'
  %li= link_to 'Светотехника'
