%ul
  %li= link_to 'Главная', root_path
  %li= link_to 'Каталог', root_path
  %li= link_to 'Магазин', root_path
  %li= link_to 'Вопрос-Ответ', root_path
  %li= link_to 'Цены', root_path
  %li= link_to 'Контакты', root_path
