%h2= t('devise.sessions.new.sign_in')

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .control-group
    = f.label :email
    .controls= f.email_field :email, autofocus: true
  .control-group
    = f.label :password
    .controls= f.password_field :password
  - if devise_mapping.rememberable?
    %label.checkbox
      = f.check_box :remember_me
      = t('devise.sessions.new.remember_me')
  .form_actions= f.submit t('devise.sessions.new.sign_in'), class: 'btn btn-primary'
= render "devise/shared/links"
