!!!
%html
%head
  %title WebShop
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  = include_gritter
%body
  #container
    %header
      #logo_block
        = link_to image_tag('logo.png', alt: 'vrn-electro'), root_path, id: 'logo'
        %span.slogan Интернет магазин электроники для дома, офиса и производства
      #contacts_block
        .phone
          %span.prefix +7 (473)
          %span.number 292-42-79
        .email vrnelectro@mail.ru
      #cart
        %span.title Корзина
        .content
          У вас 15 товаров
          %br
          На сумму 45 000 руб.
      #additional_block
        .navigation
          = link_to 'Обратная связь', root_path
          |
          = link_to 'Карта сайта', root_path
        = link_to 'Оформить заявку', root_path, class: 'make_request'
        .social_networks
          %script{ type: 'text/javascript', src: '//yandex.st/share/share.js', charset: 'utf-8' }
          .yashare-auto-init{ :'data-yashareL10n' => 'ru', :'data-yashareType' => 'none', :'data-yashareQuickServices' => 'vkontakte,facebook,twitter,odnoklassniki' } 
    #top_line
    #slider= render partial: 'share/slider', locals: { slides: @slides }
    %nav#main_menu= render 'share/main_menu'
    #wrapper
      #content
        .left
          %span.header Продукция
          %nav#catalog_menu= render 'share/catalog_menu'
        %section
          = notice
          = alert
          = yield
        .clearfix
      %footer
      .clearfix
